<nav class="container-fluid mt-2">
        <a href="{{ .Site.BaseURL }}" rel="me" target="_blank" class="pr-3">{{.Site.Params.Brand}}</a>
        <a href="{{ .Site.Params.Github }}" rel="me" target="_blank" class="pr-2">github</a>
        <a href="{{ .Site.Params.LinkedIn }}" rel="me" target="_blank" class="pr-2">linkedin</a>
        <a href="{{ .Site.Params.Youtube }}" rel="me" target="_blank" class="pr-2">youtube</a>
        <a href="{{ .Site.Params.Reddit }}" rel="me" target="_blank">reddit</a>
</nav>
