<!doctype html>
<html lang="en">
{{- partial "head.html" . -}}
<body>
{{- partial "nav.html" . -}}
<main class="container-fluid" role="main">
	<h1 class="h4 mb-4">About</h1>
	<div>
        {{- .Content -}}
		<!-- <p>My name is George Mokbel, I'm a freelance programmer from Southern California.</p>
		<p>Sometimes I post code related things on <a href="https://github.com/1gm">my GitHub profile</a>.<br/></p>
		<p>I'm an acoustic guitar player, singer, and songwriter. You can find some of my work on <a
					href="https://youtube.com/GeorgeGoesAcoustic">my YouTube channel</a>.
		</p> -->
	</div>
</main>
</body>
</html>